@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700');
body, html {
    color: #222;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    position: relative;
    color: color: rgba(0, 129, 150);
}
#header {
    height: 140px;
    z-index: 30;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 15px 1px #555;
    background-color: rgba(255, 255, 255, 0.96);
    color: #468F9D;
}
.boton {
    outline: none !important;
}
.logo {
    height: 140px;
}
.navbar {
    height: 140px !important;
    z-index: 5;
}
.carousel {
    position: ;
    width: 100% !important;
}
.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}
#slidescar {
    height: 100%;
}
#slidescar .slide_1 {
    background-image: url("../img/slide_1.jpg");
}
#slidescar .slide_2 {
    background-image: url("../img/slide_2.jpg");
}
#slidescar .slide_4 {
    background-image: url("../img/slide_4.jpg");
}
#slidescar .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: :100%;
}
.bg-img-content {
    background-image: url("../img/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: ;
    background-attachment: fixed;
}
.bg-color-primary {
    background-color: #71B4C0;
}
.text-color-white {
    color: #fff;
}
.font-weight-700 {
    font-weight: 700;
}
.bg-color-white {
    background-color: #fff;
}
.bg-color-primary-4 {
    background-color: #176776;
}
.icons-footer {
    color: #fff;
    opacity: 0.5;
}
.font_mini {
    font-size: 3px !important;
}
.font15 {
    font-size: 30px !important;
}
.font14 {
    font-size: 1.4rem;
}
.font11 {
    font-size: 1.1rem;
}
.font12 {
    font-size: 1.2rem;
}
.font13 {
    font-size: 1.3rem;
}
.font3 {
    font-size: 3rem;
}
.font25 {
    font-size: 2.5rem;
}
.p-footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.h-75 {
    height: 75%;
}
#wrapper {
    width: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 10000;
}
#sidebar-wrapper {
    z-index: 100;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgba(23, 103, 118, 0.98);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    color: #fff
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
@media(min-width:5px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 100%;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
#menu-toggle {
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
#menu a {
    color: rgba(70, 143, 157, 0.7);
}
#menu-header {}
#menu-header a {
    color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
}
/* Icon 1 */

#nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #2D7C8A;
    opacity: 0.5;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/* Icon 4 */

#nav-icon4 {
    z-index: 40;
}
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    background-color: #fff;
}
#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
    background-color: #fff;
}