.formulario{
		 background-color:  rgba(242, 250, 244, 0.6);
	     
	     label{
	     	padding-left: 10px;
              }
	     input{
	     	background-color:  rgba(0, 0, 244, 0.2);
	     	padding: 4px;
	     }
}